* {
    margin: 0;
    padding: 0;
    background-color: #85b0e3;
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
  }
  h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    /* background-image: url(https://www.shutterstock.com/shutterstock/videos/1069851100/thumb/3.jpg?ip=x480); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 120px;
    background-size: contain;
    background-color: #85b0e3;
  }
  header,
  main {
    text-align: center;
  }
  #container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSya86Tyir8jYqj_dyuQ0NG-IB-QGCXdq4Mgg&s);
    background-size: contain;
    background-repeat: round;
    background-position: center;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* top: 5vh; */
    left: 33vw;

    border-radius: 50%;
  }
  .btn {
    height: 5rem;
    width: 5rem;
    border: none;
    background-color: #e0e7ff;
    font-weight: 700;
    padding: 5px;
    letter-spacing: 2px;
    background-color: transparent;
    font-size: 1rem;
    cursor:pointer;
  }
  #btn1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 0rem;
    top: 20rem;
    background-color: transparent;
  }

  #btn2 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: relative;
    left: 6rem;
    top: 2rem;
  }
  #btn3 {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -3.5rem;
    left: -7rem;
  }
  .result-banner {
    position: relative;
    top: -28vh;
    left: -36vw;
    font-size: 1.5rem;
    background-color: transparent;
    display: inline;
  }
  #reset-btn {
    background-color: azure;
    border: 5px solid #85b0e3;
    position: relative;
    right: 0rem;
    top: -2rem;
  }
  .image{
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    border: none;
  }